* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slideshow{
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 100px;
}
.items {
    max-width: 1000vw;
    max-height: 500vw;
    border-radius: 10px;
    overflow: hidden;
}
.items img {
    width: 1000px;
    height: 500px;
    object-fit: contain     ; 
   
}
.slideshow .slick-prev{
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 10;
}
.slideshow .slick-next{
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 10;
} 
.slideshow .slick-arrow{
    z-index: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
} 

.slideshow .slick-dots{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.slideshow .slick-dots li{
    list-style-type: none;
    margin: 0 2px;
    width: 10px;
    height: 10px;
    background-color: #145aff;
    border-radius: 50%;
}
.slideshow .slick-active{
    background-color: #00ddff !important;
}